/* =============
 table of contents
===============
 
1. Left section
2. Right section=animation
3. media querry

*/

main.flex {
  gap: 2rem;
  align-items: flex-start;
}

/* ===============
   1. Left section
================ */

main.flex .left-section {
  flex-direction: column;
  gap: 10px;
}

main.flex .left-section button {
  opacity: 0.5;
  font-size: 1.05rem;
  text-transform: capitalize;
  background-color: rgb(36, 37, 46);
  width: 10rem;
  padding: 0.76rem 0rem;
  border-radius: 5px;
  text-align: center;
  transition: 0.2s all;
}

main.flex .left-section button:hover {
  opacity: 1;
  color: var(--title);
}

.light main.flex .left-section button:hover {
  color: rgb(244, 244, 245);
}

main.flex .left-section button.active {
  opacity: 1;
  border: 1px solid var(--blue);
  font-weight: bold;
  padding: 0.81rem 0;
  letter-spacing: 0.7px;
}

/* ==========================
   2. Right section
==========================*/

main.flex .right-section {
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

main.flex .right-section .card{
  border: 1px solid rgba(93, 188, 258, 0.1);
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  transition: 0.3s all;
}

.light main.flex .right-section .card{
  border: 1px solid #999;
}

main.flex .right-section .card:hover{
 border: 1px solid var(--blue);
 cursor: pointer;
 rotate: 1deg;
 scale: 1.05;
}

main.flex .right-section .box{
  width: 200px;
  padding-left: 10px;
}

main.flex .right-section .box h1.title{
  font-size: 1.5rem;
  color: var(--title);
  margin-top: 0.5rem;
  text-transform: capitalize;
}

main.flex .right-section .box p.subtitle{
  font-size: 0.8rem;
  color: var(--SubTitle);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main.flex .right-section .box .icons.flex{
  justify-content: space-between;
}

main.flex .right-section .box .icons.flex .icon{
  font-size: 1.1rem;
  color: var(--SubTitle);
}

main.flex .right-section .box .icons.flex .icon:hover{
  font-size: 1.2rem;
  color: var(--iconhover);
  cursor: pointer;
  transition: 0.3s all;
}


/* ===============
   3. media querry
================ */

@media (max-width: 550px) {
  main.flex {
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  main.flex .left-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  main.flex .left-section button {
    font-size: 0.8rem;
    width: 8rem;
    padding: 0.5rem 0rem;
  }

  main.flex .right-section {
    justify-content: center;
  }
  
}


